/* =============================================
			Home Page Responsive
============================================= */
@media (max-width:1199px){
	#nav ul li {padding: 15px 3px;}
	.tg-banner-poststyle .post-content {
		left: 30%;
		width: 40%;
	}
	.tg-newsupdate .title-box {
		float: none;
		overflow:hidden;
		text-align:center;
		padding:0 0 15px;
	}
	.category-content {padding: 10px;}
}
@media (max-width:1024px){
	.masonry-grid{width:33.2%;}
}
@media (max-width:991px){
	h1 {font-size: 24px;}
	.tg-categories {margin-bottom: 20px;}
	.tg-category{ margin:0 0 30px;}
	.tg-newsupdate {padding:20px 10px;}
	.tg-latestnewsform {padding: 5px 0;}
	#sidebar .tg-widget {min-height: 420px;}
	#sidebar .tg-widget.tg-instagram {min-height: 500px;}
	#sidebar .tg-widget.tg-search{
		min-height: auto;
		height:auto;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover{ background:#fff;}
	#nav .container{ position:relative;}
	.navbar-header{
		width:100%;
		float:right;
		border-bottom: 1px solid #f4f4f4;
		border-top: 1px solid #f4f4f4;
	}
	.navbar-toggle{
		display:block;
		color:#fff;
		background:#fff;
		float:right;
		margin-right: 0;
	}
	.navbar-toggle .icon-bar{ background:#424242;}
	#bs-example-navbar-collapse-1{
		position:absolute;
		top:100%;
		right:0;
		background:#fff;
		z-index:3;
	}
	.navbar-collapse.collapse {
		display: none !important;
		height: auto !important;
		overflow: visible !important;
		visibility: visible !important;
	}
	.navbar-collapse ul{
		max-width:400px;
		width:100%;
	}
	#nav .navbar-collapse ul li{
		width:100%;
		margin:0;
	}
	.navbar-collapse {
		border-top: 0;
		box-shadow: none;
		overflow-x: visible;
		padding-left: 15px;
		padding-right: 15px;
		float:right;
	}
	.navbar-collapse.collapse.in {display:block !important;}
	#nav ul li .dropdown{
		width:100%;
		left:0;
	}
	#nav ul li:hover .dropdown{
		position:relative;
		top:auto;
		bottom:0;
	}
	.instagram-plugin li a{ display:block;}
	.instagram-plugin li a img{
		width:100%;
		height:auto;
	}
}
@media (max-width:767px){
	.container-fluid > .navbar-collapse,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container > .navbar-header{ margin:0;}
	.three-columns .box{
		min-height:210px;
		margin:0 0 30px;
	}
	.tg-banner-poststyle .post-content {
		left: 24%;
		width: 52%;
	}
	.tg-latestnewsform input{ margin:0 0 15px;}
	.masonry-grid {width: 49.9%;}
	.tg-post figure img {
		width:100%;
		height:auto;
	}
	.new-slides {padding:15px 15px 15px 0;}
}
@media (max-width:639px){
	.tg-post.tg-blockpuote .blockquote {padding: 20px;}
	.tg-post.tg-video-post .video iframe {height: 204px;}
	.category-width{ width:100%;}
	.tg-category figure a img{
		width:100%;
		height:auto;
	}
	.tg-post.tg-blockpuote-post .blockquote {padding: 10px;}
	.blockquote blockquote {
		font-size: 18px;
		line-height: 24px;
	}
	#comment ul li ul {padding: 0 0 0 20px;}
	.topbar {height: auto;}
	.new-slides {
		padding:15px 0;
		width:100%;
	}
	.search-social{
		width:280px;
		margin:0 auto;
		float:none !important;
	}
	h1 {font-size: 14px;}
	.post-meta span:after,
	.post-meta span {font-size: 10px;}
	.tg-banner-poststyle .post-content {
		left: 19%;
		width: 62%;
	}
	.sliding {padding:28px 0;}
}
@media (max-width:480px){
	.gallery-post .tg-gallery figure.large,
	.gallery-post .tg-gallery figure.small{width:100%;}
	.social-icon li {width: 28px;}
}
@media (max-width:479px){
	.box-width,
	.widget-width{ width:100%;}
	.three-columns .box,
	#sidebar .tg-widget {
		min-height: auto;
		height:auto;
	}
	.instagram-plugin li a img{
		width:100%;
		height:auto;
	}
	.blockquote blockquote {
		font-size: 14px;
		line-height: 20px;
	}
	.post-width,
	.masonry-grid {width: 100%;}
	.page.post-detail #content #comment ul li .description {
		width:100%;
		padding:10px 0;
		border:0;
	}
	.next-previous .prev-post, .next-previous .next-post {margin: 0 15px;}
	.next-previous .prev-post::after,
	.next-previous .prev-post::before,
	.next-previous .next-post::after,
	.next-previous .next-post:before {width: 15px;}
	.tg-banner-poststyle .post-content { display:none;}
}
@media (max-width:359px){
}
@media (max-width:320px){
}