/*
 @Author: Theme786
 @URL: http://Theme786.com
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 
 This files contents are outlined below.
 01.	Theme Reset Style
 02.	Global Elements
 03.	Menu
 04.	Social
 05.	Article
 06.	Posts
 07.	Responsive
 08.	Widgets
 09.	Flexslider
 10.	Grid
*/

/* =============================================
                        Theme Reset Style
============================================= */
@import url(font/ProximaNovaRegular.otf);
* {
    margin: 0px;
    padding: 0px;
}
html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background: #fff;
    color: #424242;
    font:normal 16px/24px 'Raleway', Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    color: #424242;
    font-style: normal;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    margin: 0px 0px 8px 0px;
    /*text-transform:capitalize;*/
}
h1 { font-size: 36px;}
h2 { font-size: 24px;}
h3 { font-size: 22px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: #424242; }
p a { color: #424242; }
p a {
    color: #888;
    text-decoration:underline;
}
p {
    letter-spacing: normal;
    line-height: 24px;
    margin-bottom: 10px;
}
a {
    color: #424242;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    color: #888;
    outline: none;
    text-decoration: none;
}
ul { margin-bottom: 0px; }
figure {
    margin-bottom: 6px;
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
strong { color: #424242; }
iframe {
    border: none;
    float: left;
    width: 100%;
}
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.wp-caption,
.wp-caption-text,
.gallery-caption,
.bypostauthor {}
.wp-caption.alignleft,
.wp-caption.alignnone { width: 100%; }
select {
    border: 1px solid #d2d2d2;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    padding: 8px 12px;
    width: 100%;
}
label {
    color: #414141;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}
button { border: none; }
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
    color: #888;
    width:100%;
    font-size: 12px;
    font-weight: 400;
    height: 50px;
    line-height:30px;
    outline: none;
    padding: 10px;
    background:#fff;
    box-shadow:none;
    border-radius:0;
}
input:focus{
    box-shadow:none !important;
    border-color:#424242 !important;
}
form p {
    float: left;
    position: relative;
    width: 100%;
}
form p span i {
    color: #474747;
    left: 16px;
    position: absolute;
    top: 13px;
}
option { padding: 5px 15px; }
li {
    line-height: 28px;
    list-style: disc inside none;
}
ul ul { margin-left: 20px; }
ol {
    float: none;
    list-style: decimal;
    padding-left: 15px;
    margin-left: 3px;
}
ol ol { margin-left: 20px; }
ol li {
    list-style: decimal;
    width: 100%;
}
table {
    background-color: transparent;
    max-width: 100%;
}
th { text-align: left; }
table {
    margin-bottom: 15px;
    width: 100%;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    border-top: 1px solid #d2d2d2;
    border: 1px solid #d2d2d2;
    /*line-height: 2.5;*/
    padding-left: 3px;
    text-align: center;
    vertical-align: top;
}
table thead tr th {
    border-top: 1px solid #d2d2d2;
    text-align: center;
    text-transform: capitalize;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td { border-top: 1px solid #d2d2d2; }
table > thead > tr > th {
    border-bottom: 2px solid #d2d2d2;
    vertical-align: bottom;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td { border-bottom: 0; }
table > tbody + tbody { border-top: 2px solid #d2d2d2; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td { padding: 6px 10px; }
p ins { color: #888; }
dl dd { margin-left: 20px; }
address { font-style: italic; }
/* =============================================
                        Global Elements 
============================================= */
.haslayout{
    width:100%;
    float:left;
}
.social-icon{
    text-align:center;
    height:48px;
    border:1px solid #d4d4d4;
    padding:15px;
    border-bottom:0;
    border-top:0;
}
.social-icon li{
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
    width:32px;
}
.social-icon li +li{ border-left:1px solid #e9e9e9;}
.social-icon li a{
    display:block;
    height:15px;
    line-height:15px;
    display:block;
    text-align:center;
}
.social-icon li a i{
    color:#424242;
    display:block;
    font-size:15px;
    line-height:15px;
    text-align:center;
}
.social-icon li a:hover i{ color:#888;}
.tg-img-hover{
    left:0;
    top:0;
    opacity:0;
    width:100%;
    padding:20px;
    height:100%;
    position:absolute;
    visibility:hidden;
    z-index:2;
}
.tg-img-hover .holder{
    position:relative;
    width:100%;
    height:100%;
    border:1px solid #fff;
}
.display-table{
    width:100%;
    height:100%;
    display:table;
}
.display-table-cell{
    width:100%;
    height:100%;
    display:table-cell;
    vertical-align:middle;
}
.post-meta{
    color:#888;
    text-align:center;
    overflow:hidden;
    padding:0 0 20px;
    font-style:italic;
    font:normal 12px/15px Arial, Helvetica, sans-serif;
}
.post-meta span{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    font-style:italic;
    color:#888;
    padding:0 15px;
    line-height:inherit;
}
.post-meta span a{
    display:block;
    color:#888;
}
.post-meta span a:hover,
.post-meta span a:hover em,
.post-meta span a:hover i{
    text-decoration:none;
    color:#424242;
}
.post-meta span i,
.post-meta span em{
    display:inline-block;
    vertical-align:middle;
    line-height:inherit;
}
.post-meta span:after{
    content:'/';
    position:absolute;
    top:-2px;
    left:-5px;
    font-size:15px;
    line-height:18px;
    color:#888;
}
.post-meta span:first-child{padding:0 15px 0 0;}
.post-meta span:first-child:after{display:none;}
.no-padding{ padding:0;}
/* =============================================
                        Theme Style Start 
============================================= */
#wrapper{overflow:hidden;}
/* =============================================
                        Header Style 
============================================= */
#header{}
.topbar{
    height:48px;
    border-bottom:1px solid #d4d4d4;
    -webkit-box-shadow: 0 0 10px 1px #d4d4d4;
    box-shadow: 0 0 10px 1px #d4d4d4;
}
.new-slides{
    padding:15px;
    font-weight:normal;
    position:relative;
}
#news-slider{ padding-left:60px;}
.new-slides p{
    margin:0;
    line-height:normal;
}
.new-slides .owl-theme .owl-controls .owl-buttons div{
    position:absolute;
    top:-4px;
    left:0;
    width:25px;
    height:25px;
    line-height:25px;
    font-size:15px;
    background:#fbfbfb;
    margin:0;
}
.new-slides .owl-theme .owl-controls .owl-buttons div.owl-next{ left:28px;}
.new-slides .owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
.new-slides .owl-theme .owl-controls .owl-buttons div.owl-next:hover{
    background:#424242;
    color:#fff;
}
.new-slides .owl-theme .owl-controls .owl-buttons div i{ line-height:25px;}
.social-icon,
.btn-search{
    display:inline-block;
    vertical-align:middle;
    *display:inline;
}
.btn-search{ margin:0 0 0 20px;}
.btn-search:hover{}
.sliding {
    display:none;
    padding:4px 0;
    background: #fff;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:2;
    border-bottom:5px solid #424242;
}
.logo-box{padding:60px 0;}
.logo{
    width:320px;
    height:85px;
    display:block;
    margin:0 auto 4px;
}
.logo a{ display:block;}
.logo a img{ display:block;}
.slogn{
    display:block;
    text-align:center;
    font-size:12.8px;
    line-height:24px;
    letter-spacing:4px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
#nav.affix{
    top:0;
    left:0;
    width:100%;
    z-index:10;
    background:#fff;
    border-bottom: 1px solid rgb(212, 212, 212);
    box-shadow: 0 0 10px 1px rgb(212, 212, 212);
}
#nav{
    font-size:13px;
    line-height:15px;
    margin:0;
    border:0;
    background:none;
    text-transform:uppercase;
}
#nav ul{
    text-align:center;
    width:100%;
}
#bs-example-navbar-collapse-1{
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
}
.navbar-collapse{ padding:0;}
#nav ul li{
    float:none;
    padding:15px 12px;
    display:inline-block;
    vertical-align:middle;
    *display:inline;
    line-height:normal;
    position:relative;
}
#nav ul li a{
    padding:0;
    display:block;
    background:none;
    color:#424242;
    line-height:normal;
}
#nav ul > li.dropdown:hover > a{color:#888;}
#nav ul li.active > a,
#nav ul li a:hover{
    background:none;
    color:#888;
}
#nav ul li.dropdown{}
#nav ul li .dropdown-menu{
    width:250px;
    position:absolute;
    top:0;
    left:0;
    visibility:hidden;
    display:block;
    opacity:0;
    padding:0;
    text-align:left;
    font-size:13px;
    line-height:normal;
    border-radius:0;
}
#nav ul li:hover .dropdown-menu {
    top:100%;
    opacity:1;
    visibility:visible;
}
#nav ul li .dropdown-menu li{
    display:block;
    line-height:inherit;
    padding:8px 13px;
}
#nav ul li .dropdown-menu li a{display:block;}
/* =============================================
                        Banner Style 
============================================= */
.tg-banner{}
.tg-banner-poststyle{
    overflow:hidden;
    position:relative;
}
.tg-banner-poststyle figure{
    overflow:hidden;
    margin:0;
}
.tg-banner-poststyle figure a{ display:block;}
.tg-banner-poststyle img{
    display:block;
    width:100%;
    height:auto;
    z-index:1;
}
.tg-banner-poststyle .post-content{
    position:absolute;
    top:0;
    left:33.33%;
    width:33.33%;
    height:100%;
    padding:20px;
    background:rgba(255,255,255,0.95);
}
.tg-banner-poststyle .title{
    border-top:2px solid #ebebeb;
    border-bottom:2px solid #ebebeb;
    text-align:center;
    margin:0 0 20px;
}
.tg-banner-poststyle .title h1{
    margin:0;
    text-transform:uppercase;
}
.tg-banner-poststyle .title h1 span{
    letter-spacing:14px;
    display:block;
}
.tg-newsupdate{
    overflow:hidden;
    background:#fbfbfb;
    padding:20px 25px 20px 40px;
    margin:0 0 30px;
}
.tg-newsupdate .title-box{float:left;}
.tg-newsupdate .title-box h2{margin:0;}
.tg-newsupdate .title-box span{display:block;}
.tg-latestnewsform{
    overflow:hidden;
    padding:5px 0 5px 25px;
}
.tg-latestnewsform .form-group{ margin:0;}
button[type="submit"]{
    display:block;
    background:#fff;
    color:#424242;
    width:100%;
    font-size:16px;
    line-height:30px;
    padding:10px;
    border-radius:0;
    font-weight:600;
}
button[type="submit"]:hover{
    background:#424242;
    color:#fff;
}
.tg-categories{ margin:0 0 50px;}
.tg-categories .owl-item{ padding:0 10px;}
.tg-category{
    overflow:hidden;
    position:relative;
}
.tg-category figure{
    margin:0;
    position:relative;
    z-index:1;
}
.tg-category figure a{ display:block;}
.tg-category figure a img{
    display:block;
    width:100%;
    height:auto;
}
.category-content{
    width:100%;
    height:100%;
    left:0;
    top:0;
    position:absolute;
    z-index:2;
    padding:20px;
}
.category-content .display-table{
    border:1px solid #fff;
    text-align:center;
}
.category-content .display-table .display-table-cell{
    background:rgba(255,255,255,0.95);
    visibility:hidden;
    opacity:0;
}
.tg-category:hover .display-table .display-table-cell{
    visibility:visible;
    opacity:1;
}
.tg-category .post-meta{
    font-size:11px;
    line-height:14px;
}
.tg-category .post-meta span:after{
    font-size:13px;
    line-height:16px;
}
/* =============================================
                        TwoColumns Style 
============================================= */
#twocolumns{ padding-top:50px;}
/* =============================================
                        Post Style 
============================================= */
.tg-post{
    overflow:hidden;
    padding:80px 0 0;
}
.tg-post:first-child{ padding:0;}
.tg-post figure{
    overflow:hidden;
    margin:0 0 10px;
}
.tg-post figure:hover .tg-img-hover{
    visibility:visible;
    opacity:1;
    z-index:2;
}
.tg-post figure .tg-img-hover a{
    width:60px;
    height:60px;
    color:#000;
    background:rgba(255,255,255,0.95);
    display:block;
    text-align:center;
    position:absolute;
    top:20%;
    left:auto;
    right:50%;
    margin:-30px -62px 0 0;
    border:1px solid #414141;
}
.tg-post figure .tg-img-hover a:first-child{
    top:80%;
    left:50%;
    margin:-30px 0 0 -62px;
}
.tg-post figure:hover .tg-img-hover a{top:50%;}
.tg-post figure .tg-img-hover a i{
    display:block;
    line-height:60px;
    font-size:25px;
    text-align:center;
}
.tg-post figure img{
    display:block;
    position:relative;
    z-index:1;
}
.tg-post-content{
    overflow:hidden;
    text-align:center;
}
.tg-post-content h3{
    /*text-transform:uppercase;*/
    margin:0 0 20px;
    line-height:22px;
}
.tg-post-content .post-meta span{
    padding:0 10px;
    position:relative;
}
.tg-post-content .post-meta span.date:before,
.tg-post-content .post-meta span.date:after{
    position:absolute;
    top:50%;
    left:100%;
    width:80px;
    content:'';
    display:block;
    height:1px;
    background:#b7b5b5;
}
.tg-post-content .post-meta span.date:before{
    left:auto;
    right:100%;
}
.tg-post-content .description{
    overflow:hidden;
    padding:0 0 0;
    text-align:left;
}
.tg-post-content .description p{ margin:0 0 20px;}
.tg-btn-countinuereading{
    display:inline-block;
    vertical-align:middle;
    padding:5px 10px;
    font-weight:600;
    text-transform:capitalize;
    line-height:14px;
    position:relative;
    margin:0 0 40px;
}
.tg-btn-countinuereading:before,
.tg-btn-countinuereading:after{
    width:1px;
    height:70%;
    display:block;
    content:'';
    background:#888;
    left:0;
    top:15%;
    position:absolute;
}
.tg-btn-countinuereading:before{
    left:auto;
    right:0;
}
.tg-post-foot{
    overflow:hidden;
    border-bottom:1px solid #a7a7a7;
    padding:0 0 20px;
}
.post-social-icons{float:left;}
.post-social-icons li{
    float:left;
    width: 32px;
    list-style:none;
}
.post-social-icons li a{
    display:block;
    height: 15px;
    line-height: 15px;
    text-align: center;
}
.post-social-icons li a i{
    display:block;
    text-align:center;
}
.tg-post-foot .tg-post-author{
    display:block;
    padding:0;
    color:#414141;
}
.tg-post-foot .tg-post-author:after{ display:none;}
.tg-post-foot .post-meta .tg-post-author a{
    display:inline;
    color:#414141;
}
.tg-post.gallery-post{ margin:-5px;}
.gallery-post .tg-gallery{
    overflow:hidden;
    margin:0 0 35px;
}
.gallery-post .tg-gallery figure{
    padding:5px;
    float:left;
    margin:0;
}
.gallery-post .tg-gallery figure.small{width:31.7%;}
.gallery-post .tg-gallery figure.large{width:68.3%;}
/* =============================================
                        Post Slider Style 
============================================= */
.tg-post.tg-post-slider .post-slider{ margin:0 0 40px;}
.tg-post.tg-post-slider .post-slider .item{ overflow:hidden;}
.tg-post.tg-post-slider .post-slider figure{ margin:0;}
.post-meta.category-name span{ text-transform:uppercase;}
/* =============================================
                        Video Post Style 
============================================= */
.tg-post.tg-video-post .video{
    overflow:hidden;
    margin:0 0 40px;
}
.tg-post.tg-video-post .video iframe{
    height:470px;
    width:100%;
}
/* =============================================
                        Audio Post Style 
============================================= */
.tg-post.tg-audio-post .audio{
    overflow:hidden;
    margin:0 0 40px;
}
.tg-post.tg-audio-post .audio iframe{
    height:200px;
    width:100%;
}
/* =============================================
                        Blockquote Post Style 
============================================= */
.tg-post.tg-blockpuote-post .blockquote{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.75);
    z-index:2;
    padding:80px 100px;
    text-align:center;
}
.blockquote blockquote{
    font-size:28px;
    line-height:36px;
    color:#000;
    padding:0;
    margin:0;
    border:0;
}
.writter-name{ overflow:hidden;}
.writter-name span{
    display:inline-block;
    vertical-align:middle;
    padding:0 10px;
    position:relative;
    color:#000;
    font-size:18px;
    line-height:21px;
}
.writter-name span:before,
.writter-name span:after{
    width:70px;
    height:1px;
    display:block;
    content:'';
    position:absolute;
    top:50%;
    left:100%;
    background:#b7b5b5;
}
.writter-name span:before{
    left:auto;
    right:100%;
}
.tg-post.tg-blockpuote .blockquote{
    position:static;
    background:#fbfbfb;
    color:#414141;
    padding:40px 100px;
    text-align:center;
    margin:0 0 40px;
    font-weight:normal;
}
.tg-post.tg-blockpuote .blockquote blockquote{
    font-size:18px;
    line-height:26px;
}
.next-previous{
    overflow:hidden;
    padding:80px 0;
}
.next-previous .older-post{
    float:right;
    position:relative;
    padding:0 10px;
    margin:0 50px;
    font-weight:600;
    font-size:16px;
    text-transform:capitalize;
}
.next-previous .older-post:before,
.next-previous .older-post:after{
    content:'';
    display:block;
    width:50px;
    height:1px;
    background:#b7b5b5;
    position:absolute;
    top:50%;
    left:100%;
}
.next-previous .older-post:before{
    left:auto;
    right:100%;
}
.next-previous .older-post a{ display:block}
/* =============================================
                        Sidebar Style 
============================================= */
#sidebar .tg-widget{
    overflow:hidden;
    padding:0 0 30px;
}
.tg-widget h4{
    text-align:center;
    margin:0 0 20px;
    overflow:hidden;
    line-height:normal;
}
.tg-widget h4 span{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    padding:0 10px;
}
.tg-widget h4 span:before,
.tg-widget h4 span:after{
    content:'';
    display:block;
    width:500px;
    position:absolute;
    top:50%;
    left:100%;
    background:#eee;
    height:1px;
}
.tg-widget h4 span:before{
    left:auto;
    right:100%;
}
.tg-widget .facebook-plugin{ overflow:hidden;}
.tg-widget.add img,
.tg-widget .facebook-plugin img{
    display:block;
    width:100%;
    height:auto;
}
.tg-widget .about-widget{
    overflow:hidden;
    text-align:center;
}
.tg-widget .about-widget .description{ padding:0 0 10px;}
.tg-widget .about-widget .tg-btn-countinuereading{ margin:0;}
.author-img{
    width:176px;
    height:176px;
    border:1px solid #e0e0e0;
    margin:0 auto 20px;
    border-radius:50%;
    overflow:hidden;
}
.author-img img{
    display:block;
    width:100%;
    height:auto;
    border-radius:50%;
    border:3px solid #fff;
}
.author-img:hover img,
.author-img:hover{ border-radius:0;}
.recent-post{overflow:hidden;}
.recent-post ul{
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
}
.recent-post ul li{
    list-style:none;
    overflow:hidden;
    padding:15px 0;
    border-top:1px solid #eee;
}
.recent-post ul li:first-child{
    padding-top:0;
    border:0;
}
.recent-post ul li .post-thumb{
    float:left;
    margin:0 15px 0 0;
    overflow:hidden;
}
.show_hide.fa.fa-close.pull-right {margin: 10px;}
.recent-post ul li .post-thumb a{display:block;}
.recent-post ul li .post-thumb a img{display:block;}
.recent-post ul li .post-thumb a img:hover{ transform:scale(1.1)}
.recent-post ul li .post-data{
    overflow:hidden;
    padding:6px 0;
}
.recent-post ul li .post-data span{
    display:block;
    font:normal 10px/15px 'Merriweather', Arial, Helvetica, sans-serif;
    font-style:italic;
}
.tg-instagram .instagram-plugin{
    overflow:hidden;
    list-style:none;
    padding:0;
    margin:0;
}
.instagram-plugin li{
    float:left;
    list-style:none;
    width:33.33%;
    overflow:hidden;
}
.instagram-plugin li a{ display:block;}
.instagram-plugin li a img:hover{ transform:scale(1.1)}
#sidebar .tg-widget.tg-search{
    padding:18px;
    margin:0 0 30px;
    background:#fbfbfb;
}
.tg-search-form{
    overflow:hidden;
    border:1px solid #b7b5b5;
    position:relative;
}
.tg-search-form fieldset{ overflow:hidden;}
.tg-search-form fieldset input{
    padding:0 40px 0 10px;
    height:37px;
    line-height:37px;
    border:0;
}
.tg-search-form fieldset input:focus{ border:0;}
.tg-search-form fieldset button{
    position:absolute;
    top:0;
    right:0;
    width:auto;
    height:auto;
    padding:4px 10px;
}
.blog-category{
    overflow:hidden;
    list-style:none;
    padding:0;
    margin:0;
}
.blog-category li{
    overflow:hidden;
    list-style:none;
    padding:5px;
    border-top:1px solid #dedede;
}
.blog-category li:first-child{
    padding-top:0;
    border:0;
}
.blog-category li a{
    display:block;
    clear:both;
}
.blog-category li a em{ float:left;}
.blog-category li a i{ float:right;}
.blog-category li a em,
.blog-category li a i{
    font-style:normal;
}
/* =============================================
                        Footer Style 
============================================= */
#footer .plugin-instagram{
    overflow:hidden;
    text-align:center;
}
#footer .plugin-instagram h4{
    margin:0 0 40px;
    text-transform:uppercase;
}
.instagram-gallery{ overflow:hidden;}
.instagram-gallery .item{
    float:left;
    width:14.28%;
    overflow:hidden;
}
.instagram-gallery .item a{ display:block;}
.instagram-gallery .item img{
    display:block;
    width:100%;
    height:auto;
}
.instagram-gallery .item img:hover{transform: scale(1.1);}
#footer .box .social-icon{
    border:0;
    padding:0;
    height:auto;
    line-height:normal;
}
#footer .box .social-icon li{ line-height:normal;}
.form-newsletter{ overflow:hidden;}
.form-newsletter fieldset{ overflow:hidden;}
.form-newsletter fieldset .form-group{ margin-bottom:9px;}
.form-newsletter fieldset .form-group input{
    width:100%;
    background:none;
    border:1px solid #e7e7e7;
    height:35px;
    line-height:35px;
    padding-top:0;
    padding-bottom:0;
}
button[type="submit"].btn-send{
    background:#424242;
    width:180px;
    height:35px;
    line-height:35px;
    font-size:12px;
    color:#fff;
    font-weight:600;
    padding:0;
    float:left;
}
.form-newsletter fieldset .form-group button:hover,
button[type="submit"].btn-send:hover{
    background:#ccc;
    color:#424242;
}
.form-newsletter fieldset .form-group button{
    background:#424242;
    width:100%;
    height:35px;
    line-height:35px;
    font-size:12px;
    color:#fff;
    font-weight:600;
    padding:0;
}
#footer .box .instagram{
    overflow:hidden;
    margin:-5px;
}
#footer .box .instagram .item{
    width:25%;
    float:left;
    padding:5px;
    overflow:hidden;
}
#footer .box .instagram .item a{
    display:block;
    overflow:hidden;
}
#footer .box .instagram .item a img:hover{ transform:scale(1.1)}
.three-columns{
    background:#fbfbfb;
    overflow:hidden;
    padding:80px 0;
}
.copyright p{
    text-align:center;
    margin:10px 0;
    font-size:12px;
    font-weight:600;
}
/* =============================================
                        Three Columns Post Style 
============================================= */
.three-columns-post #content{ padding:0 0 50px;}
.three-columns-post .tg-post{
    padding:2px;
    border:1px solid #f3f3f3;
    border-top:0;
    border-radius:3px;
    margin:0 0 30px;
}
.three-columns-post .tg-post figure{margin:0 0 20px;}
.three-columns-post .tg-post-content{ padding:0 10px;}
.three-columns-post .tg-post-content h3{
    margin:0 0 5px;
    text-transform:capitalize;
    font-size:18px;
    line-height:22px;
}
.three-columns-post .tg-post-content .post-meta{ padding:0 0 10px;}
.three-columns-post .tg-post-content .post-meta span.date:before,
.three-columns-post .tg-post-content .post-meta span.date:after{ width:30px;}
.three-columns-post .tg-post-content .description{ padding:0 0 20px;}
.three-columns-post .tg-post-content .description p{ margin:0;}
.three-columns-post .tg-post-content .tg-btn-countinuereading{ margin:0 0 15px;}
.three-columns-post .tg-post-content .tg-post-foot{
    padding:0;
    border:0;
}
.three-columns-post .tg-post-content .tg-post-foot .tg-post-author{ padding:0;}
.three-columns-post .post-social-icons{
    padding:8px 0 5px;
    overflow:hidden;
    float:none;
    text-align:center;
    border-top:1px solid #d9d9d9;
}
.three-columns-post .post-social-icons li{ width:20%;}
/* =============================================
                        Masonry Post Style 
============================================= */
.three-columns-post .portfolio-content .tg-post{border:1px solid #f3f3f3;}
.masonry-grid{
    width:33.33%;
    float:left;
    padding:0 15px;
}
.three-columns-post .portfolio-content .tg-post figure{ margin:0;}
.three-columns-post .portfolio-content .tg-post .tg-post-content{ padding-top:20px;}
.three-columns-post .portfolio-content .tg-post blockquote{
    border:0;
    padding:0;
    margin:0;
    font-size:14px;
    line-height:24px;
}
/* =============================================
                        About Us Page Style 
============================================= */
.page #content figure{ margin:0 0 30px;}
.page #content h1{
    text-align:center;
    text-transform:uppercase;
    margin:0 0 20px;
    font-size:24px;
    line-height:30px;
}
.page #content .description{ padding:0 0 55px}
.page #content .description p{ margin:0 0 25px;}
.page #content .description h2{
    margin:0 0 5px;
    font-size:18px;
    line-height:21px;
}
#comment{ overflow:hidden;}
#comment h2{
    text-transform:uppercase;
    line-height:21px;
    margin:0 0 40px;
}
.reply-form{ overflow:hidden;}
.reply-form textarea,
.header-search-form input,
.reply-form .form-control{
    border:1px solid #ebebeb;
    height:35px;
    line-height:35px;
    padding:0 10px;
    color:#424242;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-style:italic;
}
.reply-form textarea{
    height:230px;
    line-height:24px;
    resize:none;
    padding:5px 10px;
}
/* =============================================
                        Contact Us Page Style 
============================================= */
.map {
    overflow:hidden;
    height: 500px;
    margin:0 0 25px;
}
.contactus #comment h2{
    font-size:18px;
    line-height:22px;
}
/* =============================================
                        Blog Detail Page Style 
============================================= */
.page.post-detail #content .description{ padding:0;}
.page #content .description p strong{ font-size:18px; font-weight:600;}
.tg-tags{
    overflow:hidden;
    text-align:center;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-style:italic;
    padding:0 0 30px;
}
.tg-tags li{
    display:inline-block;
    vertical-align:middle;
}
.tg-tags li a{
    display:block;
    color:#888;
}
.page.post-detail #content .next-previous{ padding:40px 0;}
.next-previous .prev-post,
.next-previous .next-post{
    float:right;
    position:relative;
    padding:0 10px;
    margin:0 50px;
    font-weight:600;
    font-size:16px;
    text-transform:capitalize;
}
.next-previous .prev-post{ float:left;}
.next-previous .prev-post:after,
.next-previous .prev-post:before,
.next-previous .next-post:after,
.next-previous .next-post:before{
    content:'';
    display:block;
    width:50px;
    height:1px;
    background:#b7b5b5;
    position:absolute;
    top:50%;
    left:100%;
}
.next-previous .prev-post:before,
.next-previous .next-post:before{
    left:auto;
    right:100%;
}
.next-previous .older-post a{ display:block}
.post-detail #comment h2{
    font-size:18px;
    line-height:22px;
    margin:0 0 15px;
}
.post-detail #comment h3{
    font-size:18px;
    line-height:22px;
    text-align:center;
    margin:0;
}
.post-detail #comment p{ margin:0 0 35px;}
#comment ul{
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    padding:0 0 40px;
}
#comment ul li{
    overflow:hidden;
    border-bottom:1px solid #f6f6f6;
    padding:40px 0;
    list-style:none;
}
#comment ul li .author{
    float:left;
    width:170px;
    position:relative;
    margin:0 30px 0 0;
}
#comment ul li .author:after{
    content:'';
    display:block;
    width:100%;
    height:1px;
    background:#888;
    position:absolute;
    top:50%;
    left:0;
    z-index:1;
}
.page.post-detail #content #comment ul li .description{
    overflow:hidden;
    padding:1px 0 2px 10px;
    border-left:1px solid #f6f6f6;
}
.page #content #comment ul li .description p{ margin:0;}
.page #content #comment{ padding:0 0 55px;}
.author .author-img{
    width:75px;
    height:75px;
    float:left;
    margin:0;
    position:relative;
    z-index:2;
}
.page-numbers li{
    list-style-type: none;
    float: left;
    display: block;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.page-numbers li a{
    width: 40px;
    text-align: center;
    height: 40px;
    color: #a7a7a7;
    padding: 5px 10px;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
}
.page-numbers li span {
    width: 40px;
    text-align: center;
    height: 40px;
    color: #fff;
    background: #9E9E9E;
    padding: 5px 10px;
    border: 1px solid rgba(158, 158, 158, 0);
    border-radius: 5px;
}
.img-src {
    opacity: 1;
    transition: 1s;
}
.img-src:hover {
    opacity: .8;
    display: block;
}
nav#nav-single .nav-previous {
    margin-top: 30px; 
    margin-bottom: 30px; 
    float: left;
    width: 50%;
    display: block;
}
span.nav-next {
    margin-top: 30px; 
    float: right;
    text-align: right;
    width: 50%;
    display: block;
}
.nav-previous a, .nav-next a{
    padding: 3px;
    display: block;
    color: #004fe8;
    font-size: 17px;
    line-height: 17px;
    margin-top: 0px !important;
    text-transform: initial;
}
.nav-previous, .nav-next {
color: grey;
font-weight: 100;
text-transform: uppercase;
font-size: 12px;
}
.nav-previous a:hover, .nav-next a:hover {
    text-decoration: underline;
}
.author .author-img img {border: 1px solid #fff;}
.meta{
    overflow:hidden;
    padding:21px 0;
    text-align:right;
    line-height:16px;
    font-size:12px;
    font-style:italic;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}
.meta span{display:block;}
#comment ul li ul{ padding:0 0 0 90px;}
#comment ul li ul li{ border:0;}
#comment ul li ul li:last-child{ padding-bottom:0;}
.home-slider .owl-controls .owl-buttons div{
    background:#424242;
    color:#fff;
}.home-slider .owl-controls .owl-buttons div.owl-prev:hover,
.home-slider .owl-controls .owl-buttons div.owl-next:hover{background:rgba(66,66,66,0.5)}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item{
    float: left;
}

.description img{
    padding: 20px;
}


.tg-post {
   overflow: hidden;
   /*display: inline-block;*/
   /*width: 47%;*/
   vertical-align: top;
   padding: 0;
   /*padding-bottom: 53px;*/
   /*margin-right: 20px;*/
}

.tg-post:first-child {
   padding: 0;
}
.category-n{
    font-size: 3em;
    margin-bottom: 50px;
    margin-left: 15px;
    color: grey;
    text-transform: uppercase;
}
.tg-post-content {
   overflow: hidden;
   text-align: center;
}

.post-meta {

   display: none;
}

.tg-post-content .description {

   /*display: none;*/
}
.tg-post-content h2{
   margin-bottom: 21px;
   text-align: left;
   font-size: 1.5em;
   line-height: 1.2em;
   margin-top: 0px;
   font-weight: normal;
}
span.nav-previous, span.nav-next {
    font-size: 14px;
    color: rgb(171, 171, 171);
}
.img-src {
   opacity: 1;
   transition: 1s;
   height: 200px;
   overflow: hidden;
   display: block;
}
color: grey;
font-weight: 100;
text-transform: uppercase;
font-size: 12px;



color: #004fe8 ;
.tg-post-foot {
   overflow: hidden;
   border-bottom: none;
   padding: 0 0 20px;
}

@media (max-width: 500px) {

.logo-box {
    padding: 10px 0;
}
strong.logo.text-center img {
    width: 250px !important;
}
.navbar-nav {
    margin: 7.5px 0px;
}
nav#nav {
    background: #fff;
}
.img-src {
    height: initial;
}
.page-numbers li {
    margin-top: 5px;
    margin-bottom: 5px;
}
aside#sidebar {
    margin-top: 60px;
}
div#bs-example-navbar-collapse-1 {
    z-index: 9999;
    position: relative;
    background: #fff;
}
button.navbar-toggle.collapsed {
    background: #fff;
}
.category-n {
    font-size: 1.8em;
    margin-bottom: 50px;
    margin-left: 15px;
    color: grey;
    text-transform: uppercase;
}
}